@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header_top__icon_wrapper {
    @apply bg-WarmWhite rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-AntiqueGold;
  }

  .hover-gold:hover {
    color: #b88e2f;
    transition: all 0.4s;
  }

  .hover-gold:after {
    position: absolute;
    content: "";
    background-color: #b88e2f;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .hover-gold:hover::after {
    scale: 1;
  }
}
